---
import { Image } from "astro:assets";
import {
    GithubIcon,
    LogoIcon,
    PurpleWave,
} from "../assets/SVGs";

const currentYear = new Date().getFullYear();
---

<footer
    class="relative bottom-0 w-full h-[50vh] flex justify-between items-center flex-col px-4 py-8 bg-footer -z-10"
>
    <PurpleWave class="absolute -translate-y-full pb-4 w-full" />

    <div class="w-full flex_center flex-col gap-2">
        <Image src={LogoIcon} alt="Kiernan's K Logo" width={80} height={80} />
        <span>Kiernan | Portfolio</span>
    </div>

    <div class="flex justify-center">
        <a
            href="https://github.com/kiernan-dev"
            target="_blank"
            rel="noreferrer"
        >
            <Image src={GithubIcon} alt="GitHub" width={30} height={30} />
        </a>
    </div>

    <span>© Copyright 2023-{currentYear} Kiernan</span>
</footer>
